In [1]:
x = 10

In [8]:
x

10

In [3]:
x, y, z = 10, 20, 30

In [4]:
x

10

In [5]:
y

20

In [6]:
z

30

# 1. 숫자 자료형(int, float)

In [10]:
type(10)

int

In [12]:
type(10.0)

float

In [14]:
a = 2
b = 3
a, b

(2, 3)

In [15]:
a + b

5

In [16]:
a - b

-1

In [17]:
a * b

6

In [18]:
a / b

0.6666666666666666

In [20]:
a ** b

8

In [22]:
a // b

0

In [24]:
a % b

2

In [25]:
print(a + b * a) # 8
print(
    (a+b) * a # 10
)

8
10

## 연습문제1.

아래와 같이 a = 7, b = 3.0 로 초기화 하고  
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.  
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [29]:
a, b = 7, 3.0

# code 시작
c = a // b # 2
d = a % b # 1

e = a ** b # 343

# code 종료

In [30]:
c, d, e

(2.0, 1.0, 343.0)

## type casting

In [31]:
a, b= 7, 3.0
type(a), type(b)

(int, float)

In [33]:
c = int(b)
type(c)

int

In [34]:
c

3

In [36]:
d = float(a)
print(type(d))
print(d)

<class 'float'>
7.0

## 연습문제 2
반 평균을 구하시오.  
단 변수를 사용하여 계산하고,  
 변수의 이름을 학생의 이름으로 하십시요.  
- 반드시 정수로 출력하십시요.

In [37]:
mike, judy, sera = 80, 75, 100

avg_score = (80 + 75 + 100) / 3
avg_score

85.0

In [39]:
avg_score = int(avg_score)
avg_score

85

# Bool (True, False)

In [40]:
a = True
a

True

In [41]:
b = False
b

False

In [42]:
type(a)

bool

## 비교 연산자

In [43]:
a, b = 1, 2

In [45]:
print(a < b) # True
print(a<=b) # True
print(a>b) # False
print(a>=b) # False
print(a==b) # False
print(a!=b) # True

True
True
False
False
False
True

In [47]:
print(True and True) # True
print(True and False) # False
print(False and False) # False

True
False
False

In [48]:
print(True or True) # True
print(True or False) # True
print(False or False) # False

True
True
False

In [50]:
a = 10
print(a>10 or a==10) # True

True

In [52]:
not a > 10 # True

True

## 연습문제3
사용자로부터 점수를 3개 입력받아  
모든 점수가 65점보다 클 경우 True 아닐경우 False  
를 출력하세요

In [56]:
score1 = int(input("점수1: "))
score2 = int(input("점수2: "))
score3 = int(input("점수3: "))

# score1 = int(score1)
(score1 > 65) and (score2 > 65) and (score3 > 65)

점수1: 64
점수2: 70
점수3: 100

False

# NoneType

In [57]:
a = None
a

In [58]:
print(a)

None

# Str

#### single line

In [61]:
quote1 = "안녕하세요. 저는 신윤수입니다."
print(quote1)
type(quote1)

안녕하세요. 저는 신윤수입니다.

str

In [62]:
quote2 = '안녕하세요. 저는 신윤수입니다.'
quote2

'안녕하세요. 저는 신윤수입니다.'

#### multi line

In [64]:
quote1 = """안녕하세요. 
저는 신윤수입니다."""
print(quote1)

안녕하세요.
저는 신윤수입니다.

### 연산자

In [65]:
a = "사과"
b = "과일"

In [67]:
c = a + b
c

'사과과일'

In [68]:
a * 10

'사과사과사과사과사과사과사과사과사과사과'

### Escape Code

In [70]:
quote1 = """안녕하세요. 
저는 신윤수입니다."""
print(quote1)

안녕하세요.
저는 신윤수입니다.

In [72]:
quote1

'안녕하세요. \n저는 신윤수입니다.'

In [73]:
quote = "안녕하세요. \n저는 신윤수입니다."
print(quote)

안녕하세요.
저는 신윤수입니다.

In [74]:
quote2 = "\"신윤수\"입니다."
print(quote2)

"신윤수"입니다.

In [75]:
quote3  = '"신윤수"입니다.'
print(quote3)

"신윤수"입니다.

### Indexing, Slicing

In [77]:
quote = "안녕하세요. 신윤수입니다."
quote

'안녕하세요. 신윤수입니다.'

In [78]:
quote[0]

'안'

In [79]:
quote[1]

'녕'

In [81]:
quote[-2]

'다'

In [84]:
quote[0:6]

'안녕하세요.'

In [85]:
quote[3: 12]

'세요. 신윤수입니'

In [87]:
quote[:12]

'안녕하세요. 신윤수입니'

In [89]:
quote[5:]

'. 신윤수입니다.'

In [91]:
quote[:]

'안녕하세요. 신윤수입니다.'

In [92]:
quote[::2]

'안하요 윤입다'

In [95]:
quote[::-1]

'.다니입수윤신 .요세하녕안'

## 연습문제3
a="20190505chicken19000"는 잘못 쓰여진 변수이다.  
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수에,  
chicken을 menu라는 변수에, 19000을 money라는 변수에   
인덱싱을 사용하여 각각 저장하고 출력하시오.

In [96]:
a = "20190505chicken19000"
year = a[:4] 
day = a[4:8]
menu = a[8:15]
money = a[15:]
print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

# 문자열 포맷팅

In [99]:
name = "신윤수"
major = "Computer"

In [103]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다." % (name, major)
intro

'안녕하세요. 신윤수입니다. 전공은 Computer입니다.'

In [106]:
intro = "안녕하세요. {}입니다. 전공은 {}입니다.".format(name, major)
intro

'안녕하세요. 신윤수입니다. 전공은 Computer입니다.'

In [111]:
intro = "안녕하세요. {1}입니다. 전공은 {0}입니다.".format(name, major)
intro

'안녕하세요. Computer입니다. 전공은 신윤수입니다.'

In [120]:
pi = 3.14159
pi_def = "PI는 %f입니다." % pi
pi_def

'PI는 3.141590입니다.'

In [122]:
pi = 3.14159
pi_def = "PI는 %.2f입니다." % pi
pi_def

'PI는 3.14입니다.'

In [125]:
f"PI는 {pi}입니다"

'PI는 3.14159입니다'

## 연습문제 5
a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.  
문자열 인덱싱을 이용해 각 점수를 각각   
math, english, science 변수에 저장하고,  
average 란 변수에 평균값을 저장하고 출력하시오.  

이 때 출력의 형태는 “평균 점수는 \~~입니다.”로 하시오.

In [129]:
a = "90:30:80"
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:])

average = (math + english + science) / 3
print("평균 점수는 {:.2f}입니다.".format(average))

평균 점수는 66.67입니다.

## 문자열 함수

In [132]:
quote = '안녕하세요. 신윤수입니다.'
quote

'안녕하세요. 신윤수입니다.'

In [133]:
len(quote)

14

In [135]:
quote.index('.')

5

In [138]:
"Apple".upper(), "Apple".lower()

('APPLE', 'apple')

In [142]:
quote.replace('.', '?')

'안녕하세요? 신윤수입니다?'

In [144]:
quote.count(".")

2

In [145]:
a = "  안녕하세요.  "
a

'  안녕하세요.  '

In [146]:
a.lstrip()

'안녕하세요.  '

In [147]:
a.rstrip()

'  안녕하세요.'

In [148]:
a.strip()

'안녕하세요.'

In [151]:
a = "90:30:80"
b = a.split(":")
b

['90', '30', '80']

In [154]:
fruit = "Apple Banana"
fruit_list = fruit.split(" ")
fruit_list

['Apple', 'Banana']

In [156]:
", ".join(fruit_list)

'Apple, Banana'

In [158]:
", ".join(b)

'90, 30, 80'

## 연습문제6
a="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.  
문자열 함수를 이용해 공백을 제거하고,    
각 점수를 각각 math, english, science 변수에 저장한 후,  
average 란 변수에 평균값을 저장하고 출력하시오.  
이 때 출력의 형태는 “평균 점수는 \~~입니다.”로 하시오.  

**hint: strip, split을 이용한다.**

In [165]:
a = "   90:30:80   "
a = a.strip()
score_list = a.split(":")

# math = int(score_list[0])
score_list = a.split(":")
score_list

['90', '30', '80']

In [170]:
math, english, science = list(map(int, score_list))
avg = (math + english + science) / 3
print("평균 점수는 {:.2f}입니다.".format(avg))

평균 점수는 66.67입니다.

# List

In [171]:
a = [1, 3.14, "Apple", ['a','b','c']]
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [173]:
len(a)

4

In [174]:
b = []
type(b)

list

In [175]:
c = list()
c

[]

## range

In [177]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [178]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [180]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [181]:
list(range(3, 30, 3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [183]:
list1 = list(range(3, 30, 3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [184]:
tuple1 = tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [186]:
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

### list's Indexing & Slicing

In [188]:
list1[0] # 3

3

In [189]:
list1[1:5]

[6, 9, 12, 15]

In [190]:
list1[1:5:2]

[6, 12]

### list update

In [193]:
list1[0] = 'a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [194]:
list1[1:4] = ['b', 'c', 'd']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [196]:
del list1[-1]

In [197]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [202]:
a = 10
del a
a

NameError: name 'a' is not defined

In [205]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [204]:
'a' in list1 # True

True

In [206]:
'e' in list1 # False

False

In [209]:
'a' not in list1 # False

False

In [210]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [212]:
list1 + [10, 20]

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [215]:
print(list1 * 3)

['a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24]

In [216]:
len(list1)

8

### 리스트 함수

#### append & extend

In [221]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [222]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a']

In [223]:
list1.extend(['b', 'c'])
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [ ]:
# extend => += 과 동일.

# list1.extend([1, 2])
# list1 = list1 + [1,2]

In [224]:
list1.append([3,4])
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c', [3, 4]]

#### pop & remove

In [226]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [227]:
a = list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [228]:
b = list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [230]:
list1

[0, 2, 3]

In [231]:
list1.remove(2)
list1

[0, 3]

#### insert

In [233]:
list1

[0, 3]

In [234]:
list1.insert(1, 'a')
list1

[0, 'a', 3]

#### count & sort & reverse & index

In [236]:
list1 = [1, 1, 2, 2, 3, 4]
list1

[1, 1, 2, 2, 3, 4]

In [239]:
list1.count(1), list1.count(3)

(2, 1)

In [241]:
list1.index(2)

2

In [246]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [248]:
list1.sort()
list1

[1, 1, 2, 2, 3, 4]

In [249]:
list1.sort(reverse=True)
list1

[4, 3, 2, 2, 1, 1]

In [250]:
list1

[4, 3, 2, 2, 1, 1]

In [251]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [252]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [254]:
tuple1[1] = 4

TypeError: 'tuple' object does not support item assignment

### List의 복사

In [261]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [262]:
list2 = list1
list2

[0, 1, 2, 3, 4]

In [263]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [264]:
list1

['a', 1, 2, 3, 4, 10]

In [265]:
a = 10
b = a
a, b

(10, 10)

In [266]:
b = 20
a, b

(10, 20)

#### copy

In [268]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [269]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [270]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [272]:
list1

[0, 1, 2, 3, 4]

In [273]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [274]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [275]:
list2[0][1] = 'a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [276]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

#### deepcopy

In [277]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [278]:
import copy

In [279]:
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [280]:
list2[0][0] = 'a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [281]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [283]:
list2[0][1]

['a', 2, 3]

# Dictionary

In [285]:
a = {}
type(a)

dict

In [287]:
a = dict()
type(a)

dict

In [289]:
profile = {
    'name': '신윤수',
    'city': 'Seoul',
    'height': 180
}

In [291]:
profile["name"]

'신윤수'

In [292]:
profile['city']

'Seoul'

In [293]:
profile = dict(
    name="신윤수",
    city="Seoul",
    height=180
)
profile

{'name': '신윤수', 'city': 'Seoul', 'height': 180}

In [294]:
profile = dict(
    name="신윤수",
    city="Seoul",
    height=180,
    friends= ["Minsoo", 'Judy', 'Poll']
)
profile

{'name': '신윤수',
 'city': 'Seoul',
 'height': 180,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [295]:
'신윤수' in profile

False

In [296]:
'name' in profile

True

## Dictionary 함수.

In [297]:
profile['name'] = '손기은'
profile

{'name': '손기은',
 'city': 'Seoul',
 'height': 180,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [298]:
profile['name'] = '신윤수'
profile

{'name': '신윤수',
 'city': 'Seoul',
 'height': 180,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [299]:
profile['city'] = 'Busan'
profile

{'name': '신윤수',
 'city': 'Busan',
 'height': 180,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [300]:
profile['math_score'] = 10
profile

{'name': '신윤수',
 'city': 'Busan',
 'height': 180,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10}

In [303]:
profile.setdefault('english_score', 100)
profile

{'name': '신윤수',
 'city': 'Busan',
 'height': 180,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10,
 'english_score': 100}

In [304]:
profile.setdefault('english_score', 50)
profile

{'name': '신윤수',
 'city': 'Busan',
 'height': 180,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10,
 'english_score': 100}

In [305]:
profile.update({
    'math_score': 50,
    'height': 170
})
profile

{'name': '신윤수',
 'city': 'Busan',
 'height': 170,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 50,
 'english_score': 100}

In [309]:
profile['name']

'신윤수'

In [310]:
profile['comment']

KeyError: 'comment'

In [311]:
profile.get('name')

'신윤수'

In [312]:
print(profile.get('comment'))

None

In [314]:
profile.get('comment', [])

[]

In [316]:
height = profile.pop('height')
print(height)
print(profile)

170
{'name': '신윤수', 'city': 'Busan', 'friends': ['Minsoo', 'Judy', 'Poll'], 'math_score': 50, 'english_score': 100}

In [317]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'math_score', 'english_score'])

In [318]:
profile.values()

dict_values(['신윤수', 'Busan', ['Minsoo', 'Judy', 'Poll'], 50, 100])

In [319]:
profile.items()

dict_items([('name', '신윤수'), ('city', 'Busan'), ('friends', ['Minsoo', 'Judy', 'Poll']), ('math_score', 50), ('english_score', 100)])

In [320]:
profile.clear()
profile

{}

# Set

In [321]:
set1 = {1, 2, 3, 3, 3, 3, 3}
set1

{1, 2, 3}

In [324]:
list1 = [1,2, 3, 3, 3, 3]
list(set(list1))

[1, 2, 3]

In [325]:
set1

{1, 2, 3}

In [326]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1, set2

({1, 2, 3}, {3, 4, 5})

## 집합 연산자 & 함수

In [329]:
set1 | set2

{1, 2, 3, 4, 5}

In [331]:
set.union(set1, set2)

{1, 2, 3, 4, 5}

In [330]:
set1 & set2

{3}

In [332]:
set.intersection(set1, set2)

{3}

In [333]:
set1 - set2

{1, 2}

In [334]:
set.difference(set1, set2)

{1, 2}

In [335]:
set1 ^ set2

{1, 2, 4, 5}

In [336]:
set.symmetric_difference(set1, set2)

{1, 2, 4, 5}

In [338]:
{1} <= set1

True

In [339]:
set1 <= set2

False

In [340]:
set1.issubset(set2)

False

In [341]:
{1}.issubset(set1)

True

In [342]:
{1,2,3}.isdisjoint({4,5,6})

True

In [344]:
{1,2,3}.isdisjoint({3,4,5})

False

In [345]:
set1

{1, 2, 3}

In [346]:
set1.add(4)
set1

{1, 2, 3, 4}

## Bool 형변환

In [347]:
bool(0), bool(1)

(False, True)

In [349]:
bool(0.0), bool(0.2)

(False, True)

In [351]:
bool("Hello")

True

In [353]:
bool("")

False

In [355]:
bool([1]), bool([])

(True, False)

In [356]:
bool({}), bool({'name':'hi'})

(False, True)