In [1]:
x = 10

In [2]:
if x == 10:
    print("X는 10입니다.")

X는 10입니다.

In [7]:
if x == 10:
    print("X는 10입니다.")
    print("end code block")

X는 10입니다.
end code block

In [8]:
if x !=10:
    print("x는 10이 아닙니다.")

In [12]:
if x==10:
    pass

In [13]:
if x > 3 and x < 20:
    print('x는 3보다 크고 20보다 작습니다.')

x는 3보다 크고 20보다 작습니다.

In [14]:
if x>3:
    print("x는 3보다 큽니다.")
    if x>=10:
        print("x는10보다 크거나 같습니다.")
    if x< 20:
        print("x는20보다 작습니다.")

x는 3보다 큽니다.
x는10보다 크거나 같습니다.
x는20보다 작습니다.

In [16]:
x = 3

In [18]:
if x> 5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [29]:
x = -10

In [30]:
if x>5:
    print("x는 5보다 큽니다.")
elif x>2:
    print("x는 2보다 큽니다.")
elif x>0:
    print("x는 0보다 큽니다.")
else:
    print("x는 음수입니다.")

x는 음수입니다.

In [32]:
x = 10

In [33]:
if x>0:
    print("x는 0보다 큽니다.")
elif x>3:
    print("x는 3보다 큽니다.")
elif x> 8:
    print("x는 8보다 큽니다.")
else:
    print("x는 음수입니다.")

x는 0보다 큽니다.

## 연습문제1.
사용자로부터 점수를 3개 입력받아  
모든 점수가 65점보다 클 경우 합격 아닐경우 불합격을 출력하세요  
단, 0~100 이 아닌 숫자가 입력된경우 “잘못된 점수가 입력되었습니다" 를 출력하세요

In [45]:
a = input("점수입력1: ")
b = input("점수입력2: ")
c = input("점수입력3: ")

a, b, c = map(int, [a, b, c])
# if (not (0<=a<=100)) or (not (0<=b<=100) or (not (0<=c<=100)))
if (a not in range(101)) or (b not in range(101) or (c not in range(101))):
    print("잘못된 점수가 입력되었습니다.")
elif a>65 and b>65 and c>65:
    print("합격")
else:
    print("불합격")

점수입력1: 66
점수입력2: 66
점수입력3: 66
합격

In [1]:
print("A")

A

In [2]:
input("입력1")

입력110

'10'

## 연습문제2
[홀수 짝수 판별기]  
사용자로부터 정수를 하나 입력받아   
입력한 정수가 홀수인지 짝수인지 판별하여라.    
(**0은 짝수라 하자.**)

In [5]:
num1 = int(input("정수입력: "))
if num1 % 2 ==1:
    print("{}는 홀수입니다.".format(num1))
else:
    print("{}는 짝수입니다.".format(num1))

정수입력: 0
0는 짝수입니다.

# for문

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in ['a', 'b', 'c']:
    print(i)

a
b
c

In [8]:
profile = {
    "name": "신윤수",
    "height": 183,
    'City': 'Seoul'
}

In [9]:
for i in profile:
    print(i)

name
height
City

In [10]:
for i in "Orange":
    print(i)

O
r
a
n
g
e

## 연습문제1 
1. 사용자로부터 정수를 입력받아, 해당 정수만큼 “안녕”을 출력하세요.

In [3]:
num = int(input("정수입력: "))
for i in range(num):
    print("안녕")

정수입력: 3
안녕
안녕
안녕

2. 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기

In [6]:
num = int(input("정수입력: "))
for i in range(num):
    print("*"*(i+1))

정수입력: 5
*
**
***
****
*****

3. 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기(역순)

In [8]:
num = int(input("정수입력: "))
for i in range(num, 0, -1):
    print("*"*i)

for j in range(num):
    print("*"*(num-j))

정수입력: 5
*****
****
***
**
*
*****
****
***
**
*

## for문 중첩

In [11]:
for i in range(5):
    print("i: ", i)
    for j in range(5):
        # print("j: ", j)
        print("i*j: ", i*j)
    print("-"*10)

i:  0
i*j:  0
i*j:  0
i*j:  0
i*j:  0
i*j:  0
----------
i:  1
i*j:  0
i*j:  1
i*j:  2
i*j:  3
i*j:  4
----------
i:  2
i*j:  0
i*j:  2
i*j:  4
i*j:  6
i*j:  8
----------
i:  3
i*j:  0
i*j:  3
i*j:  6
i*j:  9
i*j:  12
----------
i:  4
i*j:  0
i*j:  4
i*j:  8
i*j:  12
i*j:  16
----------

In [12]:
for i in range(5):
    for j in range(5):
        print("코드 실행")

코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행

In [14]:
l1 = ['a', 'b', 'c', 'd']
for i in enumerate(l1):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [15]:
a, b = (10, 20)
print(a)
print(b)

10
20

In [16]:
l1 = ['a', 'b', 'c', 'd']
for idx, value in enumerate(l1):
    print(idx, value)

0 a
1 b
2 c
3 d

In [17]:
for idx, value in enumerate(l1):
    if idx>=2:
        l1[idx] = 0

In [18]:
l1

['a', 'b', 0, 0]

## 연습문제2

(1) x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요

In [19]:
x = [3, 6, 9, 20, -7, 5]
for i in x:
    print(i*10)

30
60
90
200
-70
50

**(심화): 실제 값 변경**

In [22]:
x

[3, 6, 9, 20, -7, 5]

In [23]:
for idx, value in enumerate(x):
    x[idx] = value * 10
    print(x[idx])
x

30
60
90
200
-70
50

[30, 60, 90, 200, -70, 50]

(2) y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요

In [21]:
y = {"math": 70, "science": 80, "english": 20}
for i in y:
    print(i, y[i]*10)

math 700
science 800
english 200

**(심화): 실제 값 변경**

In [24]:
for k in y:
    y[k] = y[k] * 10
    print(y[k])
y

700
800
200

{'math': 700, 'science': 800, 'english': 200}

(3) 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [25]:
num = int(input("몇 단?? "))

for i in range(1, 10):
    print("{} * {} = {}".format(num, i, num*i))

몇 단?? 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

## 연습문제3

(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountain”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요

In [28]:
word = ["school", "game", "piano","science", "hotel", "mountain"]
new_word = []
for i in word:
    if len(i) >=6:
        new_word.append(i)
new_word

['school', 'science', 'mountain']

In [29]:
new_word = [i for i in word if len(i)>=6]
new_word

['school', 'science', 'mountain']

In [31]:
# 잘못된 코드.
word = ["school", "game", "piano","science", "hotel", "mountain"]
for idx, value in enumerate(word):
    if len(value)<6:
        del word[idx]
word

['school', 'piano', 'science', 'mountain']

In [33]:
word = ["school", "game", "piano","science", "hotel", "mountain"]
new_word = word.copy()

for i in word:
    if len(i)<6:
        new_word.remove(i)
new_word

['school', 'science', 'mountain']

(2) 구구단을 1단부터 9단까지 출력하세요

In [34]:
for i in range(1, 10):
    print("[%s단]" % i)
    for j in range(1, 10):
        print("{} * {} = {}".format(i, j, i*j))
    print("-" * 10)

[1단]
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
----------
[2단]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
[3단]
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
[4단]
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
[5단]
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
[6단]
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
[7단]
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
[8단]
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
[9단]
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

## 연습문제4

1-100 까지 숫자중  
3과 5의 공배수일경우 “3과 5의 공배수”  
나머지 숫자중 3의배수일경우 “3의배수”  
나머지 숫자중 5의배수일경우 “5의배수”  
모두 해당되지 않을경우 그냥숫자  
를 출력하세요

In [37]:
n = 101

for i in range(1, n):
    # &, |
    if (i % 3 == 0) and (i % 5 == 0):
        print("3과 5의 공배수")
    elif i % 3 == 0:
        print("3의 배수")
    elif i % 5 == 0:
        print("5의 배수")
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [38]:
# 심화
n = int(input("숫자입력: "))

for i in range(1, n):
    # &, |
    if (i % 3 == 0) and (i % 5 == 0):
        print("3과 5의 공배수")
    elif i % 3 == 0:
        print("3의 배수")
    elif i % 5 == 0:
        print("5의 배수")
    else:
        print(i)

숫자입력: 500
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수
101
3의 배수
103
104
3과 5의 공배수
106
107
3의 배수
109
5의 배수
3의 배수
112
113
3의 배수
5의 배수
116
3의 배수
118
119
3과 5의 공배수
121
122
3의 배수
124
5의 배수
3의 배수
127
128
3의 배수
5의 배수
131
3의 배수
133
134
3과 5의 공배수
136
137
3의 배수
139
5의 배수
3의 배수
142
143
3의 배수
5의 배수
146
3의 배수
148
149
3과 5의 공배수
151
152
3의 배수
154
5의 배수
3의 배수
157
158
3의 배수
5의 배수
161
3의 배수
163
164
3과 5의 공배수
166
167
3의 배수
169
5의 배수
3의 배수
172
173
3의 배수
5의 배수
176
3의 배수
178
179
3과 5의 공배수
181
182
3의 배수
184
5의 배수
3의 배수
187
188
3의 배수
5의 배수
191
3의 배수
193
194
3과 5의 공배수
196
197
3의 배수
199
5의 배수
3의 배수
202
203
3의 배수
5의 배수
206
3의 배수
208
209
3과 5의 공배수
211
212
3의 배수
214
5의 배수
3의 배수
217
218
3의 배수
5의 배수
221
3의 배수
223
224
3과 5의 공배수
226
227
3의 배수
229
5의 배수
3의 배수
232
233
3의 배수
5의 배수
236
3의 배수
238
239
3과 5의 공배수
241
242
3의 배수
244
5의 배수
3의 배수
247
248
3의 배수
5의 배수
251
3의 배수
253
254
3과 5의 공배수
256
257
3의 배수
259
5의 배수
3의 배수
262
263
3의 배수
5의 배수
266
3의 배수
268
269
3과 5의 공배수
271
272
3의 배수
274
5의 배수
3의 배수
277
278
3의 배수
5의 배수
281
3의 배수
283
284
3과 5의 공배수
286
287
3의 배수
289
5의 배수
3의 배수
292
293
3의 배수
5의 배수
296
3의 배수
298
299
3과 5의 공배수
301
302
3의 배수
304
5의 배수
3의 배수
307
308
3의 배수
5의 배수
311
3의 배수
313
314
3과 5의 공배수
316
317
3의 배수
319
5의 배수
3의 배수
322
323
3의 배수
5의 배수
326
3의 배수
328
329
3과 5의 공배수
331
332
3의 배수
334
5의 배수
3의 배수
337
338
3의 배수
5의 배수
341
3의 배수
343
344
3과 5의 공배수
346
347
3의 배수
349
5의 배수
3의 배수
352
353
3의 배수
5의 배수
356
3의 배수
358
359
3과 5의 공배수
361
362
3의 배수
364
5의 배수
3의 배수
367
368
3의 배수
5의 배수
371
3의 배수
373
374
3과 5의 공배수
376
377
3의 배수
379
5의 배수
3의 배수
382
383
3의 배수
5의 배수
386
3의 배수
388
389
3과 5의 공배수
391
392
3의 배수
394
5의 배수
3의 배수
397
398
3의 배수
5의 배수
401
3의 배수
403
404
3과 5의 공배수
406
407
3의 배수
409
5의 배수
3의 배수
412
413
3의 배수
5의 배수
416
3의 배수
418
419
3과 5의 공배수
421
422
3의 배수
424
5의 배수
3의 배수
427
428
3의 배수
5의 배수
431
3의 배수
433
434
3과 5의 공배수
436
437
3의 배수
439
5의 배수
3의 배수
442
443
3의 배수
5의 배수
446
3의 배수
448
449
3과 5의 공배수
451
452
3의 배수
454
5의 배수
3의 배수
457
458
3의 배수
5의 배수
461
3의 배수
463
464
3과 5의 공배수
466
467
3의 배수
469
5의 배수
3의 배수
472
473
3의 배수
5의 배수
476
3의 배수
478
479
3과 5의 공배수
481
482
3의 배수
484
5의 배수
3의 배수
487
488
3의 배수
5의 배수
491
3의 배수
493
494
3과 5의 공배수
496
497
3의 배수
499

# While문

In [39]:
i = 0
while i<5:
    print("i:", i)
    i += 1
    # i = i + 1

i: 0
i: 1
i: 2
i: 3
i: 4

In [43]:
i = input("s가 입력되면 멈춥니다.")
while i.upper() != 'exit':
    print("프로세스 동작중")
    i = input("s가 입력되면 멈춥니다.")

s가 입력되면 멈춥니다.s
프로세스 동작중
s가 입력되면 멈춥니다.s
프로세스 동작중
s가 입력되면 멈춥니다.s
프로세스 동작중
s가 입력되면 멈춥니다.S

## 연습문제5
사용자로부터 숫자를 계속 입력받다가  
s or S 를 입력하면 합계출력

In [45]:
num =input("숫자입력: ")

result = 0

while num.lower() != 's':
    result += int(num)
    num = input("숫자입력: ")
result

숫자입력: 5
숫자입력: 3
숫자입력: 2
숫자입력: s

10

In [50]:
num = input("숫자입력")
result_list = []

while num.lower() != 's':
    result_list.append(num)
    num = input("숫자입력")

# result = 0
# for i in result_list:
#     result += int(i)
# result
sum(map(int, result_list))

숫자입력5
숫자입력3
숫자입력2
숫자입력s

10

In [48]:
result

8

## 연습문제6. 가위바위보

In [62]:
import random
random.randint(1, 3)

2

가위(1), 바위(2), 보(3) 을 입력해주세요! : 3  
유저 : 보, 컴퓨터 : 보 


가위(1), 바위(2), 보(3) 을 입력해주세요! : 2  
유저 : 바위, 컴퓨터 : 보  


가위(1), 바위(2), 보(3) 을 입력해주세요! : 1  
유저 : 가위, 컴퓨터 : 보  


가위(1), 바위(2), 보(3) 을 입력해주세요! : 4  
  
게임종료 (전체:3 ,승리:1)  

1~3 을 입력하면 게임진행 이외의 숫자를 입력하면 게임종료  
심화 : 비긴숫자도 출력하세요 (전체:3, 승리:1, 비김:1)

In [72]:
user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요!:"))
com = random.randint(1, 3)

rsp_list = [None, "가위", "바위", "보"]

rsp_dict = {
    1: "가위",
    2: "바위",
    3: "보"
}

total = 0
win = 0
draw = 0

while user in [1, 2, 3]:
    # user = int(user)
    # print("유저: {}, 컴퓨터: {}".format(rsp_list[user], rsp_list[com]))

    print("유저: {}, 컴퓨터: {}".format(rsp_dict[user], rsp_dict[com]))

    ## 비긴경우
    if user == com:
        draw += 1
    ## 이긴경우
    elif (user ==1 and com==3) or (user==2 and com==1) or (user==3 and com==2):
        win += 1
    ## 진경우 => 전체 - (승리+비김)
    total += 1
    
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요!:"))
    com = random.randint(1, 3)
    
print("게임종료(전체: {}, 승리:{},비김:{} )".format(total, win, draw))

가위(1), 바위(2), 보(3) 을 입력해주세요!:2
유저: 바위, 컴퓨터: 바위
가위(1), 바위(2), 보(3) 을 입력해주세요!:3
유저: 보, 컴퓨터: 가위
가위(1), 바위(2), 보(3) 을 입력해주세요!:3
유저: 보, 컴퓨터: 바위
가위(1), 바위(2), 보(3) 을 입력해주세요!:5
게임종료(전체: 3, 승리:1,비김:1 )

# Break, Continue

In [73]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [75]:
for i in range(10):
    if 5<i<=8:
        continue
    print(i)

0
1
2
3
4
5
9

In [77]:
# Loop
while True:
    print("Hello")
    num = input('s입력시 멈춥니다.')
    if num.lower() == 's':
        break

Hello
s입력시 멈춥니다.2
Hello
s입력시 멈춥니다.5
Hello
s입력시 멈춥니다.s

## 연습문제 11
(1) while 문과 break 문을 사용하여 사용자가 입력한 숫자만큼 반복하여 ‘hi’ 출력하기

In [78]:
num = int(input("입력"))
count = 0
while True:
    if count < num:
        print("hi")
    else:
        break
    count += 1

입력5
hi
hi
hi
hi
hi

(2) for 문과 continue 문을 사용하여 사용자가 입력한 숫자까지의 짝수를 출력하기

In [79]:
num = int(input("숫자입력:"))

for i in range(num):
    if not (i % 2 ==0):
        continue
    print(i)

숫자입력:12
0
2
4
6
8
10

In [ ]:
for i in range(5):
    for j in range(5):
        if j ==3:
            break

## 연습문제7

randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
가장 큰 수를 구하는 코드를 작성하시오.

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 76이 나와야 함.

In [80]:
new_list = []
max_num = 0

# 리스트 만들기
for i in range(100):
    rand_num = random.randint(1, 1000)
    new_list.append(rand_num)
    
    if max_num < rand_num:
        max_num = rand_num

# 큰 수 구하기

In [82]:
print(new_list)

[267, 797, 656, 919, 863, 588, 847, 88, 311, 110, 839, 838, 618, 55, 152, 635, 567, 373, 171, 668, 640, 470, 575, 117, 363, 370, 930, 578, 768, 710, 196, 983, 846, 610, 570, 532, 166, 677, 351, 770, 153, 970, 173, 517, 355, 937, 479, 502, 704, 316, 502, 144, 500, 351, 507, 43, 267, 393, 966, 711, 988, 410, 294, 669, 499, 791, 250, 289, 738, 685, 615, 345, 887, 276, 773, 892, 540, 976, 16, 890, 284, 576, 970, 240, 822, 572, 716, 952, 387, 701, 666, 217, 490, 556, 45, 885, 60, 598, 902, 293]

In [83]:
print(max_num)

988

In [84]:
max(new_list)

988

## 연습문제8

randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
리스트의 모든 요소의 합계를 구하는 코드를 작성하시오.

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 160이 나와야 함.

In [85]:
new_list = []
sum_num = 0

# 리스트 만들기
for i in range(100):
    rand_num = random.randint(1, 1000)
    new_list.append(rand_num)
    sum_num += rand_num
    

# 합계
sum_num

54589

In [86]:
sum(new_list)

54589

# 리스트 컴프리핸션

In [88]:
list(range(1,5))

[1, 2, 3, 4]

In [89]:
# 1. range
list(range(10,50, 10))

[10, 20, 30, 40]

In [91]:
# 2. new_list
new_list = []
for i in range(1, 5):
    new_list.append(i*10)
new_list

[10, 20, 30, 40]

In [94]:
# syntax
new_list = [i*10 + 7.5 for i in range(1, 5)]
new_list

[17.5, 27.5, 37.5, 47.5]

In [96]:
# 1부터 100까지의 숫자중에서 3의 배수만 모아서 새로운 리스트를 만드시오.
new_list = []
for i in range(1, 101):
    if i % 3 == 0:
        new_list.append(i)
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [97]:
new_list = [i for i in range(1, 101) if i%3==0]
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [100]:
new_list = [i*j for i in range(1, 11) for j in range(1, 11)]
print(len(new_list))
print(new_list)

100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [101]:
keys = ['city', 'name', 'height']
value = ['Seoul', '신윤수', 180]

new_dict = {keys[i]: value[i] for i in range(len(keys))}
new_dict

{'city': 'Seoul', 'name': '신윤수', 'height': 180}

### zip

In [102]:
for i in range(len(keys)):
    k = keys[i]
    v = value[i]
    print(k, v)

city Seoul
name 신윤수
height 180

In [105]:
keys = ['city', 'name', 'height']
value = ['Seoul', '신윤수', 180]

list(zip(keys, value))

[('city', 'Seoul'), ('name', '신윤수'), ('height', 180)]

In [106]:
for k, v in zip(keys, value):
    print(k, v)

city Seoul
name 신윤수
height 180

In [110]:
keys = ['city', 'name', 'height']
value = ['Seoul', '신윤수', 180]
sample = ['a', 'b', 'c']

list(zip(keys, value, sample))

[('city', 'Seoul', 'a'), ('name', '신윤수', 'b'), ('height', 180, 'c')]

In [111]:
dict(zip(keys, value))

{'city': 'Seoul', 'name': '신윤수', 'height': 180}

## 연습문제9

(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountain”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)

In [115]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']
new_list = [w for w in word if len(w)>=6]
new_list

['school', 'science', 'mountain']

(2) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountain”] 리스트의 글자수가 들어가있는 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)

In [116]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']
new_list = [len(w) for w in word]
new_list

[6, 4, 5, 7, 5, 8]

## 연습문제 10

(1) 아래 두 리스트를 각 요소들을 곱해 새로운 리스트 C 를 만드세요  
a = [[10, 20], [30, 40], [50, 60]]  
b = [[2, 3], [4, 5], [6, 7]]

In [117]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

In [118]:
new_list = []

for i in range(len(a)):
    in_list = []
    for j in range(len(a[i])):
        in_list.append(a[i][j] * b[i][j])
    
    new_list.append(in_list)
new_list

[[20, 60], [120, 200], [300, 420]]

In [121]:
for l1, l2 in zip(a, b):
    print(l1, l2)
    break

[10, 20] [2, 3]

In [123]:
new_list = []
for [a1, a2], [b1, b2] in zip(a, b):
    new_list.append([a1*b1, a2*b2])
new_list

[[20, 60], [120, 200], [300, 420]]

## 연습문제 11

>>> a = []
>>> for i in range(3):
>>>     line = []
>>>     for j in range(2):
>>>        line.append(0)
>>>     a.append(line)
>>> print(a)