In [1]:
def add_num(num1, num2):
    print("add_num 함수 실행")
    return num1 + num2

In [2]:
add_num(3, 5)

add_num 함수 실행

8

In [3]:
output = add_num(3, 5)

add_num 함수 실행

In [4]:
output

8

In [15]:
# 인자X, return X
def func1():
    print("Hello World")
    # return None

In [16]:
func1()

Hello World

In [17]:
a = func1()
print(a)

Hello World
None

In [10]:
# 인자X, return O
def func2():
    return ("Hello World")

In [18]:
a = func2()
a

'Hello World'

In [11]:
# 인자O, return O
def func3(name):
    return "Hello %s" % name

In [19]:
a = func3("Python")
a

'Hello Python'

In [12]:
# 인자O, return X
def func4(name):
    print("Hello %s" % name)

In [20]:
a = func4("Python")
print(a)

Hello Python
None

# 변수의 scope

In [21]:
a, b, c = 1, 2, 5

In [22]:
def func1():
    a = 3
    b = 4
    print(a, b, c)
    return

In [23]:
func1()

3 4 5

In [24]:
a, b, c

(1, 2, 5)

In [26]:
def func2():
    a = 5
    b = 6
    func1()
    print(a, b)

In [27]:
func2()

3 4 5
5 6

In [28]:
a = 5
def func3():
    global a
    a = 1
    print(a)

In [29]:
func3()

1

In [30]:
a

1

## 연습문제1
사칙연산 함수만들기 
ex) 
calc(5, 6)  
덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334  

a= calc(5,6)  
return Type: (덧셈결과, 뺄셈결과, 곱셈결과, 나눗셈결과)

In [35]:
def calc(a, b):
    result = (a+b, a-b, a*b, a/b)
    # print("덧셈:{}, 뺄셈:{}, 곱셈:{}, 나눗셈:{}".format(result[0], result[1], result[2], result[3]))
    print("덧셈:{}, 뺄셈:{}, 곱셈:{}, 나눗셈:{}".format(*result))
    
    return result

In [36]:
calc(5, 6)

덧셈:11, 뺄셈:-1, 곱셈:30, 나눗셈:0.8333333333333334

(11, -1, 30, 0.8333333333333334)

## 연습문제2
해당값을 모두 찾아 위치를 리턴해주는 함수만들기  
ex)  
```
lis = [1, 2, 3, 1, 4, 2, 1]  
allindex(lis, 1)  
[0, 3, 6]  
```

In [37]:
def allindex(l, target):
    result = []
    for idx, value in enumerate(l):
        if value == target:
            result.append(idx)
    return result

In [38]:
lis = [1, 2, 3, 1, 4, 2, 1]  
allindex(lis, 1)

[0, 3, 6]

In [39]:
lis = [1, 2, 3, 1, 4, 2, 1, 10, 1, 2, 5, 8, 3]
allindex(lis, 3)

[2, 12]

# lambda 함수

In [42]:
(lambda x:x**2)(10)

100

In [43]:
(lambda x:x**2)(5)

25

In [44]:
(lambda x,y:(x+y, x-y))(3,4)

(7, -1)

In [45]:
add = lambda x,y:x+y

In [47]:
add(3,4)

7

In [48]:
lis = [1, 2, 3, 1, 4, 2, 1]

In [50]:
list(map(str, lis))

['1', '2', '3', '1', '4', '2', '1']

In [51]:
lis = [1, 2, 3, 1, 4, 2, 1]  
lis

[1, 2, 3, 1, 4, 2, 1]

In [53]:
list(map(lambda x:x**2, lis))

[1, 4, 9, 1, 16, 4, 1]

# 인수(Arguments)

In [57]:
def make_profile(name, email, height):
    return {
        'name': name,
        'email': email,
        'height': height
    }

In [56]:
make_profile("신윤수", 'ys@betweak.com', 173)

{'name': '신윤수', 'email': 'ys@betweak.com', 'height': 173}

In [58]:
make_profile("신윤수", height=173, email='ys@betweak.com')

{'name': '신윤수', 'email': 'ys@betweak.com', 'height': 173}

In [60]:
make_profile(email='ys@betweak.com', height=173, name="신윤수")

{'name': '신윤수', 'email': 'ys@betweak.com', 'height': 173}

## 가변인수(*args)

In [62]:
def add(*args):
    print(args)
    print(type(args))
    return sum(args)

In [63]:
a = add(1)

(1,)
<class 'tuple'>

In [64]:
a = add(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [65]:
a

15

## 가변키워드인수(**kwargs)

In [70]:
def make_profile(**kwargs):
    print(type(kwargs))
    print(kwargs)
    
    if kwargs.get('email_'):
        make_email(kwargs['email'])
    
    if kwargs.get('password'):
        make_password(kwargs['password'])
    
    return kwargs

In [71]:
profile = make_profile(name="신윤수", city="Seoul", email='ys@betweak.com')

<class 'dict'>
{'name': '신윤수', 'city': 'Seoul', 'email': 'ys@betweak.com'}

In [72]:
def make_profile(name, email, city='Seoul', *friends, **kwargs):
    result = {
        'name': name,
        "email": email,
        "city": city,
        "friends": friends,
    }
    result.update(kwargs)
    return result

In [73]:
make_profile("신윤수", 'ys@betweak.com')

{'name': '신윤수', 'email': 'ys@betweak.com', 'city': 'Seoul', 'friends': ()}

In [75]:
make_profile("신윤수", 'ys@betweak.com', "부산", "judy", 'mike', 'poll', intro='hi, I am younsoo')

{'name': '신윤수',
 'email': 'ys@betweak.com',
 'city': '부산',
 'friends': ('judy', 'mike', 'poll'),
 'intro': 'hi, I am younsoo'}

In [79]:
def func1(*args):
    print(args)
    print(type(args))
    return sum(args)

In [80]:
list1 = [1, 2, 3, 5, 6]

In [82]:
func1(list1, 2)

([1, 2, 3, 5, 6], 2)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [83]:
func1(*list1)

(1, 2, 3, 5, 6)
<class 'tuple'>

17

In [84]:
def validate_profile(**profile):
    print(profile)
    print(type(profile))
    if not profile.get('email'):
        return False
    
    if not profile['email'].count("@"):
        return False
    
    return True

In [90]:
profile = {
    'name': '신윤수',
    'city': "Seoul",
    'email': 'ys@betweak.com'
}

In [91]:
validate_profile(**profile)

{'name': '신윤수', 'city': 'Seoul', 'email': 'ys@betweak.com'}
<class 'dict'>

True

## 연습문제3

가변인수와 고정인수를 사용해 모든값을 더하거나 빼거나 곱하는 함수 작성  
ex)  
```calc("+", 1, 2, 3, 4, 5) # 1 + 2 + 3 + 4 + 5```  
15  
```calc("-", 1, 2, 3, 4, 5) # 1 - 2 - 3 - 4 - 5```  
-13  
```calc("*", 1, 2, 3, 4, 5) # 1 * 2 * 3 * 4 * 5```  
120

In [92]:
def calc(operator, *args):
    if operator=='+':
        return sum(args)
    elif operator == '-':
        # return args[0] - sum(args[1:])
        result = args[0]
        for i in args[1:]:
            result -= i
        return result
    elif operator == '*':
        result = args[0]
        for i in args[1:]:
            result = result * i
        return result
    return False

In [96]:
calc("+", 1, 2, 3, 4, 5), calc("-", 1, 2, 3, 4, 5), calc("*", 1, 2, 3, 4, 5)

(15, -13, 120)

## 연습문제4
가변인수를 이용 가장 높은값, 낮은값, 평균값을 구하는 함수 작성  
ex)  
> calc(1,2,3,4,5)  
최대값 : 5, 최소값 : 1, 평균값 : 3.0

In [97]:
def calc(*args):
    print("최대값: {}, 최소값: {}, 평균값: {}".format(
        max(args), min(args), sum(args)/len(args)
    ))

In [98]:
calc(1,2,3,4,5)

최대값: 5, 최소값: 1, 평균값: 3.0